* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url(cursors/crosshair-2.png), auto; */
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
  }
  
  a {
    position: relative;
    text-decoration: none;
    font-family: Priori-sans;
    color: #636363;
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    background-color: rgb(139, 17, 238);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  a:hover {
    color: white;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  h1 {
    font-family: Priori-sans;
  }
  
  h2 {
    font-family: Priori-sans;
  }
  
  section {
    height: 100vh;
    color: white;
    scroll-snap-align: start;
  }
  
  .nav-links {
    display: inline-block;
  }
  
  .logo {
    color: white;
    font-family: Priori-sans;
    font-size: 1.5rem;
    margin-right: auto;
  }
  
  .welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .welcome-container h1 {
    font-size: 10rem;
  }
  
  .welcome {
    padding-left: 10rem;
    padding-top: 10rem;
  }
  
  .press {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10rem;
  }
  
  .press-img {
    margin: 0 1rem;
  }
  
  .section {
    background-color: rgb(25, 25, 25);
  }
  
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .case-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 70%;
    border-radius: 2rem;
    background-color: rgb(25, 25, 25);
    box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    margin: 2rem;
  }
  
  .card-image {
    width: 50%;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    width: 50%;
    padding: 2rem;
  }
  
  .card-content h1 {
    font-size: 4rem;
  }
  
  .card-name {
    margin-bottom: 1rem;
  }
  
  .line {
    height: 0.5rem;
    width: 100%;
    background-color: rgb(139, 17, 238);
    border: 0 none;
    margin-bottom: 2rem;
  }
  
  .card-p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  
  .button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    color: #636363;
    background-color: rgb(25, 25, 25);
    box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px;
    text-align: center;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: rgb(139, 17, 238);
    color: #ffffff;
  }
  
  .bottom-page {
    padding: 3rem;
  }
  
  .second-span {
    font-family: Priori-sans;
    font-size: 20rem;
    color: #636363;
    line-height: 0.8;
  }
  
  .second-span:hover {
    color: rgb(139, 17, 238);
    transition: 0.3s;
  }
  
  .footer {
    height: 12.5rem;
    padding: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(139, 17, 238);
    margin-top: 8rem;
  }
  
  .social {
    display: flex;
    align-content: center;
    padding: 1rem;
  }
  
  .social a {
    padding: 0.5rem;
  }
  
  .footer-list {
    list-style: none;
  }
  
  .footer-list p {
    font-family: Priori-sans;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .first-span:before {
    color: rgb(139, 17, 238);
    content: "";
    animation: animate infinite 2s;
  }
  
  @keyframes animate {
    0% {
      content: "a Digital designer";
    }
  
    25% {
      content: "a Web developer";
    }
  
    50% {
      content: "a Creative";
    }
  
    75% {
      content: "an Artist";
    }
  
    100% {
      content: "a Digital designer";
    }
  }
  
  ::selection {
    color: white;
    background-color: rgb(139, 17, 238);
  }
  